@use '../../sass-modules/_variables.sass' as v
@use '../../sass-modules/_utilities.sass' as u

.content-container
    width: 100%
    margin-bottom: 1rem
    @include u.flex(row, flex-end, center)

    .content
        width: 100%

@media screen and ( min-width: v.$small-breakpoint)
    .content-container
        .content
            width: 70%
