@use '../../sass-modules/_variables.sass' as v
@use '../../sass-modules/_utilities.sass' as u

.links-container
    width: 100%
    margin-bottom: 1rem
    box-sizing: border-box
    @include u.flex (row, flex-start, flex-start)

    .links
        width: 100%
        position: relative
        @include u.flex (row, space-between, flex-start)
        a,.copy-email
            cursor: pointer
            text-align: center
            width: calc( 50% - .5rem)
            @include u.padding(v.$p1/2, v.$p1/2)
            &:hover
                transform: scale(.992)

    .hide
        top: -200px
        width: 0px
        opacity: 0
        height: 0px
        position: absolute

    .success
        right: 0
        position: absolute
        text-align: center
        width: calc( 50% - .5rem)
        @include u.padding(v.$p1/2, v.$p1/2)

@media screen and ( min-width: v.$small-breakpoint)

    .links-container
        @include u.flex (row, flex-end, flex-start)
        .links
            max-width: 70%