@use '../../sass-modules/_variables.sass' as v
@use '../../sass-modules/_utilities.sass' as u

.links-container
    width: 100%
    margin-bottom: 1rem
    box-sizing: border-box
    @include u.flex (row, flex-start, flex-start)

    .links
        width: 100%
        @include u.flex (row, space-between, flex-start)

        a
            text-align: center
            color: v.$accent-one
            width: calc( 50% - .5rem)
            background-color: v.$bg-dark
            border: 2px solid v.$bg-high
            @include u.padding(v.$p1/2, v.$p1/2)
            &:hover
                transform: scale(.992)
                border: 2px solid v.$accent-one

@media screen and ( min-width: v.$small-breakpoint)

    .links-container
        @include u.flex (row, flex-end, flex-start)
        .links
            max-width: 70%