@use '../../sass-modules/_variables.sass' as v
@use '../../sass-modules/_utilities.sass' as u

.heading-container
    width: 100%
    height: 75px
    @include u.flex(row, flex-start, flex-start)

    .heading-card
        width: 100%
        box-sizing: border-box
        max-width: v.$small-breakpoint
        @include u.flex(column, flex-start, flex-start)
        span
            margin: 0 0 .1rem 0
        .heading
            font-size: 1.6rem
