@use '../../sass-modules/_variables.sass' as v
@use '../../sass-modules/_utilities.sass' as u

.form-container
    width: 100%
    @include u.flex(row, flex-end, flex-start)

    form
        width: 100%
        @include u.flex(column, space-evenly, flex-start)

        input, textarea
            width: 100%
            border: none
            outline: none
            appearance: none
            font-size: 1.1rem
            // border-radius: 2px
            color: v.$accent-one
            color: lighten(v.$bg-high, 20%)
            margin-bottom: .5rem
            // margin-bottom: v.$p1
            font-family: v.$main-font
            background-color: v.$bg-dark
            border: 2px solid v.$bg-high
            @include u.padding(v.$p1, v.$p1)
            &:focus
                border: 2px solid v.$accent-one
                background-color: v.$bg-dark
            &::placeholder
                color: lighten(v.$bg-high, 20%)

        .contact-message
            resize: none

        .submit
            border: none
            cursor: pointer
            color: v.$accent-one
            border: 2px solid v.$bg-high
            background-color: v.$bg-dark
            &:hover
                transform: scale(.992)
                border: 2px solid v.$accent-one
                    // background-color: darken(v.$accent,10%)

        .error
            width: 100%
            color: v.$warning
            margin: -12px 0 4px 0
            @include u.padding(v.$p1/2, v.$p1)

        .msg-sent
            width: 100%
            text-align: center
            color: v.$accent-one
            @include u.padding(v.$p1/2, v.$p1)