// Font
$main-font: 'Quicksand', sans-serif
$heading: 1.3rem
$sub-heading: .9rem
$sub-margin-top: .1rem
$body-padding-top: 1rem

// Color

// Dark Mode ==============
// Text
$text-light:#f5f5f5
$text-mid:#d6ba9d
$text-low:#493144
$text-dark:#0f0a0e
// Background
$bg-high: #794b6f  
$bg-mid: #3a2435   
$bg-low: #1f131c
$bg-dark:#0f0a0e
// Accent
$accent-one:#febd62
$accent-two:#ffa4f7

// Extras
$warning: #fe6262
// ========================

// Space
$small-breakpoint: 475px
$big-breakpoint: 600px
$min-width: 320px
$max-width: 700px
$half-max-width: 350px
$p1: 1rem
$p2: 2rem