@use '../../sass-modules/_variables.sass' as v
@use '../../sass-modules/_utilities.sass' as u

nav
    margin: 0 auto
    box-sizing: border-box
    max-width: v.$max-width
    @include u.flex(row, flex-start, flex-start)

    .nav-container
        width: 100%
        box-sizing: border-box
        max-width: v.$max-width

        .link-container
            padding: 0 v.$p1
            width: v.$min-width
            box-sizing: border-box
            @include u.flex(row, space-between, flex-start)

            .page-link
                padding: v.$p1 0
                &:hover
                    transform: translateY(1.5px)

@media screen and ( min-width: v.$small-breakpoint)

    nav
        .nav-container
            width: calc( 100% - 75px )
            .link-container
                padding: 0 v.$p2
